---
title: Home
---

<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="d-flex flex-column min-vh-100">
        <!-- Responsive navbar-->
        {% include navbar.html %}
        <!-- Page content-->
        <div class="container mt-5 flex-grow-1">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="row">
                        {% include about.html %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-8 col-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-3">
                            <!-- Post title-->
                            <h2 class="fw-bold mb-1">About</h2>
                        </header>
                        <section class="mb-5">
                            <p class="fs-6 mb-4">Assistant Professor at <a href="https://www.unimore.it/" target="_blank">Università degli Studi di Modena e Reggio Emilia</a>, in Italy. Currently member of the <a href="https://aimagelab.ing.unimore.it" target="_blank">AImage Lab</a>, directed by Prof. Rita Cucchiara.
                            </p>
                            <p class="fs-6 mb-4">Previously, Postdoc at the <a href="http://www.di.unimi.it" title="di.unimi.it">Computer Science department</a> of <a href="http://www.unimi.it" title="unimi.it">Università degli Studi di Milano</a>, in Italy. Member of <a href="http://phuselab.di.unimi.it" title="phuselab" target="_blank">PHuSe Lab</a>, directed by <a href="http://boccignone.di.unimi.it/Home.html" title="boccignone" target="_blank">Prof. Giuseppe Boccignone</a>. He was also the supervisor of my Ph.D. in <a href="http://www.mat.unimi.it/dottorati/" title="mat.unimi.it" target="_blank">Mathematical Sciences</a>, where I worked on <a href="https://air.unimi.it/handle/2434/546274" target="_blank"><em>”A probabilistic approach to the construction of a multimodal affect space”</em></a>.
                            </p>
                            <p class="fs-6 mb-4">Prior to this, I worked as interaction developer at the design studio <a href="http://www.dotdotdot.it" title="dotdotdot">dotdotdot</a>, in Milan, where I have developed several permanent and temporary interactive installations mixing architecture, design and digital technologies.
                            </p>
                            <p class="fs-6 mb-4">My current <strong>research topics</strong> include <a class="badge bg-news-where text-decoration-none link-light">HVA</a> human visual attention,  <a class="badge bg-news-where text-decoration-none link-light">RPM</a> remote physiological measurement and <a class="badge bg-news-where text-decoration-none link-light">AC</a> affective computing.</p>
                        </section>


                        <header class="mb-3">
                            <h2 class="fw-bold mb-1">Contact</h2>
                        </header>
                        <section class="mb-5">
                            <address class="fst-italic">
                                Università degli Studi di Modena e Reggio Emilia<br>
                                Department of Engineering "Enzo Ferrari"<br>
                                Via Pietro Vivarelli, 10 - 41125 Modena<br>
                                Office MO-27-02-029<br>
                                tel: +39 059 205 6289
                            </address>
                        </section>
                    </article>
                </div>

                <!-- Side widgets-->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="card mb-4">
                        <ul class="list-group list-group-flush">

                          {% assign latestNews = site.data.news | where: "show_on_homepage", true  | limit: 5 | sort: 'date' | reverse %}
                            {% for news in latestNews %}
                                <li class="list-group-item">
                                    <a class="badge bg-news-when text-decoration-none link-light">{{ news.date | date_to_string: "ordinal" }}</a>
                                    <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag1 }}</a>
                                    <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag2 }}</a>
                                    <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag3 }}</a>                            
                                    <p class="mb-2 mt-2">
                                        {{ news.content }}
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            <a href="/news.html">Read All News</a> or 
                            <a href="https://twitter.com/vcuculo" target="_blank"><i class="fa-brands fa-x-twitter"></i> for more</a>
                        </div>
                    </div>                        
                </div>            
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
