---
title: Home
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body class="d-flex flex-column min-vh-100 bg-light text-dark">
    <!-- Responsive navbar-->
    {% include navbar.html %}
    <!-- Page content-->
    <main class="container my-5 flex-grow-1">
        <div class="row">
            <aside class="col-xl-2 col-md-3 col-12">
                {% include about.html %}
            </aside>

            <section class="col-xl-6 col-md-9 col-12 my-5 mt-md-0">
                <article class="bg-white rounded p-4 shadow-sm">

                    <header class="mb-4 border-bottom pb-2">
                        <h5 class="mb-0 fw-semibold">About</h5>
                    </header>

                    <section class="mb-5">
                        <p class="fs-6 mb-4">
                            Assistant Professor at the
                            <a href="https://www.unimore.it/" target="_blank">University of Modena and Reggio
                                Emilia</a>,
                            and a member of the <a href="https://aimagelab.ing.unimore.it" target="_blank">AImageLab</a>
                            research group led by Prof. Rita Cucchiara.
                            I am also a member of the <a href="https://www.acm.org/" target="_blank">ACM</a> and the
                            <a href="https://ellis.eu/members" target="_blank">ELLIS Society</a> (European Laboratory
                            for Learning and Intelligent Systems).
                        </p>

                        <p class="fs-6 mb-4">
                            I earned my Ph.D. in <a href="http://www.mat.unimi.it/dottorati/"
                                target="_blank">Mathematical Sciences</a>
                            from the <a href="http://www.unimi.it" target="_blank">University of Milan</a> in 2017,
                            where I was a founding member of the
                            <a href="http://phuselab.di.unimi.it" target="_blank">PHuSe Lab</a>.
                            I currently serve as Associate Editor for <em>Springer Applied Intelligence</em> and as Area
                            Chair for <em>ACM Multimedia</em> conferences.
                        </p>

                        <p class="fs-6 mb-4">
                            My professional journey is a blend of academia and industry, with over a decade of
                            experience in both fields.
                            Before my current role, I worked as an interaction developer at the Milan-based design
                            studio
                            <a href="http://www.dotdotdot.it" target="_blank" title="dotdotdot">dotdotdot</a>.
                            There, I created immersive interactive installations that combined architecture, design, and
                            digital technology.
                            This experience led to a patent and fostered collaborations with European institutions on
                            projects related to perceptual computing and visual attention.
                        </p>

                        <p class="fs-6 mb-4">
                            Current research focuses on <b>Human Visual Attention</b>
                            <a class="badge bg-news-where text-decoration-none link-light">HVA</a>,
                            <b>Affective Computing</b> <a class="badge bg-news-where text-decoration-none link-light">AC</a>,
                            <b>Remote Physiological Measurement</b> <a
                                class="badge bg-news-where text-decoration-none link-light">RPM</a>,
                            and <b>Multimodal Human-Centered AI</b>.
                        </p>
                    </section>



                    <header class="mb-3 border-bottom pb-2">
                        <h5 class="mb-0 fw-semibold">Contact</h5>
                    </header>
                    <section>
                        <address class="fst-italic lh-sm">
                            Università degli Studi di Modena e Reggio Emilia<br>
                            Department of Engineering "Enzo Ferrari"<br>
                            Via Pietro Vivarelli, 10 - 41125 Modena<br>
                            Office MO-27-02-029<br>
                            tel: +39 059 205 6289<br>
                            email: <a href="mailto:vittorio.cuculo@unimore.it">vittorio.cuculo@unimore.it</a>
                        </address>
                    </section>
                </article>
            </section>

            <!-- Side widgets-->
            <aside class="col-lg-4 col-md-12">
                <div class="card shadow-sm bg-white border-0">
                    <div class="card-header bg-white border-bottom">
                        <h5 class="mb-0 fw-semibold">Latest News</h5>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% assign latestNews = site.data.news | where: "show_on_homepage", true | limit: 5 | sort:
                        'date' | reverse %}
                        {% for news in latestNews %}
                        <li class="list-group-item">
                            <div class="mb-2">
                                <span class="badge bg-news-when me-1">{{ news.date | date_to_string: "ordinal" }}</span>
                                {% if news.tags %}
                                {% for tag in news.tags %}
                                <span class="badge bg-news-where">{{ tag }}</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <p class="mb-1 small">
                                {{ news.content }}
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="card-footer text-center bg-white border-top">
                        <a href="/news.html" class="text-decoration-none text-muted">Read all news</a>
                    </div>
                </div>
            </aside>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>