---
title: News Archive
---

<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body class="d-flex flex-column min-vh-100">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-onyx">
            <div class="container">
                <a class="navbar-brand" href="/index.html">Vittorio Cuculo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" href="#">Teaching</a></li>
                        <li class="nav-item"><a class="nav-link" href="/publications.html">Publications</a></li>
                        <li class="nav-item"><a class="nav-link" href="/assets/cv_CUCULO.pdf" target="_blank">CV</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5 flex-grow-1">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-12">
                    <div class="row">
                        {% include about.html %}
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-12">
                    <!-- Post content-->
                  <h2 class="fw-bold mb-4">News Archive</h2>

                  <ul class="list-group list-group-flush">
                    {% assign latestNews = site.data.news | sort: 'date' | reverse %}
                      {% for news in latestNews %}
                          <li class="list-group-item">
                              <a class="badge bg-news-when text-decoration-none link-light">{{ news.date | date_to_string: "ordinal" }}</a>
                              <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag1 }}</a>
                              <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag2 }}</a>
                              <a class="badge bg-news-where text-decoration-none link-light">{{ news.tag3 }}</a>                            
                              <p class="mb-2 mt-2">
                                  {{ news.content }}
                              </p>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>