---
title: News Archive
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body class="d-flex flex-column min-vh-100 bg-light text-dark">
    <!-- Responsive navbar-->
    {% include navbar.html %}
    <!-- Page content-->
    <main class="container my-5 flex-grow-1">
        <div class="row">
            <aside class="col-xl-2 col-md-4 col-12">
                {% include about.html %}
            </aside>

            <section class="col-xl-10 col-md-8 col-12">
                <!-- Post content-->
                <h2 class="mb-4 fw-semibold">News</h2>

                <ul class="list-group list-group-flush">
                    {% assign latestNews = site.data.news | sort: 'date' | reverse %}
                    {% for news in latestNews %}
                    <li class="list-group-item list-group-item-action py-3">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-12 mb-2">
                                <a class="badge bg-news-when text-decoration-none link-light">{{ news.date |
                                    date_to_string: "ordinal" }}</a><br>
                                {% if news.tags %}
                                    {% for tag in news.tags %}
                                        <a class="badge bg-news-where text-decoration-none link-light">{{ tag }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-lg-10 col-md-8 col-12">
                                <p class="mb-0">
                                    {{ news.content }}
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>