---
title: Teaching
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body class="d-flex flex-column min-vh-100 bg-light text-dark">
  <!-- Responsive navbar-->
  {% include navbar.html %}
  <!-- Page content-->
  <main class="container my-5 flex-grow-1">
    <div class="row">
      <aside class="col-xl-2 col-md-4 col-12">
        {% include about.html %}
      </aside>

      <section class="col-xl-10 col-md-8 col-12 ">
        <!-- Post content-->
        <article>
          <h2 class="mb-4 fw-semibold">Teaching</h2>
            
          {% assign grouped_courses = site.data.courses | group_by: 'academic_year' %}

          {% for academic_year_courses in grouped_courses %}
          <h5>{{ academic_year_courses.name }}</h5>

          <div class="row mb-2">
            <div class="col-md-6">
              <h6 class="text-muted">First Semester</h6>
              {% assign first_semester = academic_year_courses.items | where: 'semester', 'I' %}
              {% if first_semester.size > 0 %}
                {% for course in first_semester %}
                <p>
                  <b>{{ course.name }}</b><br>
                  {{ course.where }}<br>
                  {% if course.link %}
                  <a href="{{ course.link }}">Course website</a>
                  {% endif %}
                </p>
                {% endfor %}
              {% else %}
                <p class="text-muted fst-italic">No courses</p>
              {% endif %}
            </div>
            <div class="col-md-6">
              <h6 class="text-muted">Second Semester</h6>
              {% assign second_semester = academic_year_courses.items | where: 'semester', 'II' %}
              {% if second_semester.size > 0 %}
                {% for course in second_semester %}
                <p>
                  <b>{{ course.name }}</b><br>
                  {{ course.where }}<br>
                  {% if course.link %}
                  <a href="{{ course.link }}">Course website</a>
                  {% endif %}
                </p>
                {% endfor %}
              {% else %}
                <p class="text-muted fst-italic">No courses</p>
              {% endif %}
            </div>
          </div>
          {% if forloop.last == false %}
          <hr>
          {% endif %}
          {% endfor %}
        </article>
      </section>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>