---
title: Teaching
---

<!DOCTYPE html>
<html lang="en">
{% include header.html %}

<body class="d-flex flex-column min-vh-100 bg-light text-dark">
  <!-- Responsive navbar-->
  {% include navbar.html %}
  <!-- Page content-->
  <main class="container my-5 flex-grow-1">
    <div class="row">
      <aside class="col-xl-2 col-md-4 col-12">
        {% include about.html %}
      </aside>

      <section class="col-xl-10 col-md-8 col-12 ">
        <!-- Post content-->
        <article>
          <h2 class="mb-4 fw-semibold">Teaching</h2>

          {% assign grouped_courses = site.data.courses | group_by: 'academic_year' %}

          {% for academic_year_courses in grouped_courses %}
          <h5>{{ academic_year_courses.name }}</h5>

          {% for course in academic_year_courses.items %}
          <p>
            <b>{{ course.name }} ({{ course.semester }} semester)</b><br>
            {{ course.where }}<br>
            <a href="{{ course.link }}">Course website</a>
          </p>

          {% if forloop.last == true %}
          <hr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </article>
      </section>
    </div>
  </main>
  {% include footer.html %}
</body>

</html>