<div class="col-md-12 col-6">
    <figure class="mb-4">
        <img class="img-fluid rounded-circle author-img" src="/assets/profile.png" onmouseover="this.src='/assets/bio-photo-2.jpg';" onmouseout="this.src='/assets/profile.png';">
    </figure>
</div>
<div class="col-md-12 col-6">
    <ul class="list-group list-social d-block">
        <li><i class="fa-solid fa-location-dot"></i> Modena, IT</li>
        <li><a href="mailto:vittorio.cuculo@unimore.it"><i class="fa-solid fa-envelope"></i> Email</a></li>
        <li><a href="https://twitter.com/vcuculo" target="_blank"><i class="fa-brands fa-x-twitter"></i> X</a></li>
        <li><a href="https://www.linkedin.com/in/vittoriocuculo" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="https://github.com/vcuculo" target="_blank"><i class="fa-brands fa-github"></i> Github</a></li>
        <li><a href="https://scholar.google.it/citations?user=usEfqxoAAAAJ" target="_blank"><i class="fa-brands fa-google"></i> Google Scholar</a></li>
        <li><a href="https://orcid.org/0000-0002-8479-9950" target="_blank"><i class="fa-brands fa-orcid"></i> ORCID</a></li>
    </ul>
</div>