<div class="p-4">
    <div class="row align-items-center">
        <div class="col-6 col-md-12 mb-md-3">
            <figure class="text-center mb-0">
                <img class="img-fluid rounded-circle shadow-sm" 
                     src="/assets/profile.png" 
                     onmouseover="this.src='/assets/bio-photo-2.jpg';" 
                     onmouseout="this.src='/assets/profile.png';" 
                     alt="Profile picture">
            </figure>
        </div>
        <div class="col-6 col-md-12">
            <div class="mt-md-3">
                <ul class="list-group list-group-flush list-social">
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <i class="fa-solid fa-location-dot me-2 text-dark"></i> 
                        <span class="small">Modena, IT</span>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="mailto:vittorio.cuculo@unimore.it" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-solid fa-envelope me-2 text-dark"></i> 
                            <span class="small">Email</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="https://twitter.com/vcuculo" target="_blank" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-brands fa-x-twitter me-2 text-dark"></i> 
                            <span class="small">X</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="https://www.linkedin.com/in/vittoriocuculo" target="_blank" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-brands fa-linkedin me-2 text-dark"></i> 
                            <span class="small">LinkedIn</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="https://github.com/vcuculo" target="_blank" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-brands fa-github me-2 text-dark"></i> 
                            <span class="small">Github</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="https://scholar.google.it/citations?user=usEfqxoAAAAJ" target="_blank" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-brands fa-google me-2 text-dark"></i> 
                            <span class="small">Google Scholar</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 py-0">
                        <a href="https://orcid.org/0000-0002-8479-9950" target="_blank" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-brands fa-orcid me-2 text-dark"></i> 
                            <span class="small">ORCID</span>
                        </a>
                    </li>
                    <li class="list-group-item-transparent border-0 px-0 pt-2">
                        <a href="{{ site.baseurl }}/assets/cv_CUCULO.pdf" target="_blank" rel="noopener" class="text-decoration-none d-flex align-items-center">
                            <i class="fa-solid fa-file-pdf me-2 text-dark"></i>
                            <span class="small">CV</span>
                        </a>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
</div>