<nav class="navbar navbar-expand-lg navbar-dark bg-onyx">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html">Vittorio Cuculo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link{% if page.url == '/news.html' %} active{% endif %}" href="{{ site.baseurl }}/news.html">News</a></li>               
                <li class="nav-item"><a class="nav-link{% if page.url == '/teaching.html' %} active{% endif %}" href="{{ site.baseurl }}/teaching.html">Teaching</a></li>
                <li class="nav-item"><a class="nav-link{% if page.url == '/publications.html' %} active{% endif %}" href="{{ site.baseurl }}/publications.html">Publications</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/assets/cv_CUCULO.pdf" target="_blank">CV</a></li>
            </ul>
        </div>
    </div>
</nav>